{% extends "base.html" %}
{% load static %}

{% block title %}
    Mercantile {% block subtitle %}{% endblock subtitle %}
{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="{% static 'mercantile/css/social-circles.css' %}" >
{% endblock stylesheets %}

{% block content %}
    <nav class="navbar navbar-dark navbar-expand-lg px-4 px-lg-5 py-3 bg-color-dark" >
        <a href="{% url 'frontend:index' %}" class="navbar-brand" >
            Mercantile
        </a >
        <button class="navbar-toggler" data-toggle="collapse"
                data-target="#navbar-menu" >
            <span class="navbar-toggler-icon" ></span >
        </button >
        <div id="navbar-menu" class="collapse navbar-collapse" >
            <ul class="navbar-nav ml-auto" >
                <li class="navbar-item" >
                    <a href="#projects" class="nav-link" >Wishlist</a >
                </li >
                <li class="navbar-item" >
                    <a href="#about" class="nav-link" >Cart</a >
                </li >
            </ul >
        </div >
    </nav >

    <section id="masthead" class="bg-color-light" >
        <div class="container pt-4 py-lg-5" >
            <div class="row d-flex py-4 justify-content-center" >
                <div class="col-6 col-lg-12 d-flex justify-content-center" >
                    <img class="img-fluid"
                         alt="Cobweb by prettycons on www.flaticon.com"
                         src="{% static 'mercantile/img/cobweb-warm.png' %}" >
                </div >
            </div >
            <div class="d-flex pt-3 justify-content-center" >
                <h2 class="banner" >MERCANTILE</h2 >
            </div >
            <div class="d-flex pt-0 pt-lg-3 pb-5 justify-content-center" >
                <h5 class="subbanner" >Books for Book Lovers</h5 >
            </div >
        </div >
    </section >

    <section id="projects" class="" >
        <div class="container py-5" >
            <div class="d-flex justify-content-center" >
                <h3 >CLASSICS</h3 >
            </div >
            <div class="row d-flex justify-content-center" >
                <div class="card col-md-2 mx-4 mx-md-4 my-4 pt-3" >
                    <a href="{{ overtrick_url }}" >
                        <div class="card-body m-2" >
                            <img class="card-img-top"
                                 alt="Cover of the 2000 Modern Library edition of Anna Karenina by Leo Tolstoy"
                                 src="{% static 'mercantile/img/anna_karenina.jpeg' %}" >
                            <h5 class="card-title pt-3" >
                                Anna Karenina
                            </h5 >
                            <p class="card-text" >Leo Tolstoy</p >
                        </div >
                    </a >
                </div >
                <div class="card col-md-2 mx-4 mx-md-4 my-4 pt-3" >
                    <a href="{{ overtrick_url }}" >
                        <div class="card-body m-2" >
                            <img class="card-img-top"
                                 alt="Cover of the 2000 Modern Library edition of Anna Karenina by Leo Tolstoy"
                                 src="{% static 'mercantile/img/anna_karenina.jpeg' %}" >
                            <h5 class="card-title pt-3" >
                                Anna Karenina
                            </h5 >
                            <p class="card-text" >Leo Tolstoy</p >
                        </div >
                    </a >
                </div >
                <div class="card col-md-2 mx-4 mx-md-4 my-4 pt-3" >
                    <a href="{{ overtrick_url }}" >
                        <div class="card-body m-2" >
                            <img class="card-img-top"
                                 alt="Cover of the 2000 Modern Library edition of Anna Karenina by Leo Tolstoy"
                                 src="{% static 'mercantile/img/anna_karenina.jpeg' %}" >
                            <h5 class="card-title pt-3" >
                                Anna Karenina
                            </h5 >
                            <p class="card-text" >Leo Tolstoy</p >
                        </div >
                    </a >
                </div >
            </div >
        </div >
    </section >

    <section id="about" class="py-5 bg-color-light text-center" >
        <div id="react-root" class="container d-flex py-5 justify-content-center" >
            <!-- React will load here -->
        </div >
    </section >

    <section id="footer" class="bg-color-dark" >
        <div class="container-fluid px-4 px-lg-5" >
            <div class="row py-3 align-items-center" >
                <div class="col-8 col-md-10" >
                    <div class="d-flex flex-column flex-md-row" >
                        <div class="pr-lg-2" >Crafted by Kate</div >
                        <div class="d-none d-md-inline" >&bull;</div >
                        <div class="pl-lg-2" >Powered by Django</div >
                    </div >
                </div >
                <div class="col-4 col-md-2 px-0" >
                    <div class="d-flex justify-content-end" >
                        <div class="pr-2 pr-lg-3" >
                            <a class="icon-linkedin social-button borderless"
                               href="https://www.linkedin.com/in/katemckenzie/" >
                            </a >
                        </div >
                        <div class="pr-4" >
                            <a class="icon-github social-button borderless"
                               href="https://github.com/katemakescode/behind-the-web" >
                            </a >
                        </div >
                    </div >
                </div >
            </div >
        </div >
    </section >
{% endblock content %}