{% extends "base.html" %}
{% load static %}

{% block title %}
  Mercantile {% block subtitle %}{% endblock subtitle %}
{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet"
        href="{% static 'mercantile/css/social-circles.css' %}" >
{% endblock stylesheets %}

{% block content %}
  <script >window.url = "{% url 'frontend:index' %}"</script >
  <nav id="navbar-root" class="navbar navbar-dark navbar-expand-lg px-4 px-lg-5 py-3 bg-color-dark" ></nav >

  <div id="react-root"></div>

  <div id="footer-root"></div>

  <section id="footer" class="bg-color-dark" >
    <div class="container-fluid px-4 px-lg-5" >
      <div class="row py-3 align-items-center" >
        <div class="col-8 col-md-10" >
          <div class="d-flex flex-column flex-md-row" >
            <div class="pr-lg-2" >
              <a href="https://behind-the-web.herokuapp.com/" >Crafted by Kate</a >
            </div >
            <div class="d-none d-md-inline" >&bull;</div >
            <div class="pl-lg-2" >Powered by Django</div >
          </div >
        </div >
        <div class="col-4 col-md-2 px-0" >
          <div class="d-flex justify-content-end" >
            <div class="pr-2 pr-lg-3" >
              <a class="icon-linkedin social-button borderless"
                 href="https://www.linkedin.com/in/katemckenzie/" >
              </a >
            </div >
            <div class="pr-4" >
              <a class="icon-github social-button borderless"
                 href="https://github.com/katemakescode/mercantile" >
              </a >
            </div >
          </div >
        </div >
      </div >
    </div >
  </section >
{% endblock content %}
